<ng-container *transloco="let t; prefix: 'register-page'">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex w-[90vw] max-w-md flex-col gap-6 rounded-2xl bg-white p-8 shadow-lg"
  >
    <h2 class="text-center text-2xl font-semibold text-gray-800">
      {{ t('form-header') }}
    </h2>

    <div class="flex flex-col gap-2">
      <label
        [for]="RegisterFormControls.USERNAME"
        class="text-sm font-medium text-gray-700"
        >{{ t('username-label') }}</label
      >
      <input
        pInputText
        [placeholder]="t('username-label')"
        [formControlName]="RegisterFormControls.USERNAME"
        [id]="RegisterFormControls.USERNAME"
        class="border-surface-300 w-full rounded-md border p-2"
      />
      @if (
        registerForm.get(RegisterFormControls.USERNAME)?.invalid &&
        registerForm.get(RegisterFormControls.USERNAME)?.touched
      ) {
        <small class="text-red-500"> {{ t('username-error') }}</small>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label
        [for]="RegisterFormControls.EMAIL"
        class="text-sm font-medium text-gray-700"
        >{{ t('email-label') }}</label
      >
      <input
        type="email"
        pInputText
        [placeholder]="t('email-example')"
        [formControlName]="RegisterFormControls.EMAIL"
        autocomplete="email"
        [id]="RegisterFormControls.EMAIL"
        class="w-full rounded-md border border-zinc-300 p-2"
      />
      @if (
        registerForm.get(RegisterFormControls.EMAIL)?.invalid &&
        registerForm.get(RegisterFormControls.EMAIL)?.touched
      ) {
        <small class="text-red-500"> {{ t('email-error') }} </small>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label
        [for]="RegisterFormControls.PASSWORD"
        class="text-sm font-medium text-gray-700"
        >{{ t('password-label') }}</label
      >
      <p-password
        [formControlName]="RegisterFormControls.PASSWORD"
        [toggleMask]="true"
        [feedback]="true"
        autocomplete="new-password"
        [inputId]="RegisterFormControls.PASSWORD"
        class="w-full"
        [fluid]="true"
      />
      @if (
        registerForm.get(RegisterFormControls.PASSWORD)?.invalid &&
        registerForm.get(RegisterFormControls.PASSWORD)?.touched
      ) {
        <small class="text-red-500">
          {{ t('password-error') }}
        </small>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label
        [for]="RegisterFormControls.PASSWORD_CONFIRM"
        class="text-sm font-medium text-gray-700"
        >{{ t('confirm-password-label') }}</label
      >
      <p-password
        [formControlName]="RegisterFormControls.PASSWORD_CONFIRM"
        [toggleMask]="true"
        [feedback]="false"
        autocomplete="new-password"
        [inputId]="RegisterFormControls.PASSWORD_CONFIRM"
        class="w-full"
        [fluid]="true"
      />
      @if (
        registerForm.get(RegisterFormControls.PASSWORD_CONFIRM)?.errors?.[
          'required'
        ] && registerForm.get(RegisterFormControls.PASSWORD_CONFIRM)?.touched
      ) {
        <small class="text-red-500"> {{ t('confirm-password-error') }} </small>
      }
      @if (
        registerForm.get(RegisterFormControls.PASSWORD_CONFIRM)?.errors?.[
          'passwordMismatch'
        ] && registerForm.get(RegisterFormControls.PASSWORD_CONFIRM)?.touched
      ) {
        <small class="text-red-500"> {{ t('password-match-error') }} </small>
      }
    </div>

    <div>
      <p-button
        [label]="t('submit-button')"
        type="submit"
        styleClass="w-full my-1"
        [disabled]="registerForm.invalid"
      />
      <p class="mt-4 text-center text-sm text-gray-600">
        {{ t('login-helper') }}
        <a
          routerLink="/auth/login"
          class="text-primary-600 hover:text-primary-800 font-medium"
          >{{ t('login-href') }}</a
        >
      </p>
    </div>
  </form>
</ng-container>
